<div class="relations-list">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="RelationRequestTypeEnum.ToMe"
       routerLinkActive
       #toMeRla="routerLinkActive"
       [active]="toMeRla.isActive"
       [replaceUrl]="true">
      To me
    </a>
    <a mat-tab-link [routerLink]="RelationRequestTypeEnum.FromMe"
       routerLinkActive
       #fromMeRla="routerLinkActive"
       [active]="fromMeRla.isActive"
       [replaceUrl]="true">
      From me
    </a>
    <a mat-tab-link [routerLink]="RelationRequestTypeEnum.Declined"
       routerLinkActive
       #declinedRla="routerLinkActive"
       [active]="declinedRla.isActive"
       [replaceUrl]="true">
      Declined
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>

<app-messages></app-messages>
