<mat-form-field class="pn-no-subscript pn-vertical-align"
                [class.mat-form-field-invalid]="this._isInvalid">
  <input type="number"
         aria-label="Minimum value"
         matInput
         [ngModel]="_min"
         name="min"
         (input)="onMinChange($event)"
         step="0.01"
         min="0"
         [max]="_max ?? Infinity">
</mat-form-field>
<div class="divider"></div>
<mat-form-field class="pn-no-subscript pn-vertical-align"
                [class.mat-form-field-invalid]="this._isInvalid">
  <input type="number"
         matInput
         aria-label="Maximum value"
         [ngModel]="_max"
         name="max"
         (input)="onMaxChange($event)"
         step="0.01"
         [min]="_min ?? -Infinity">
</mat-form-field>
