<button mat-button cdkOverlayOrigin
        #triggerOrigin="cdkOverlayOrigin"
        (click)="openNavigationOverlay()"
        cdkMonitorElementFocus
        (cdkFocusChange)="openNavigationOverlayIfFocusViaTab($event)">
  <span class="user-name">{{user | fullName}}</span>
  <app-avatar src="assets/default-user-avatar.svg" alt="{{user | fullName}}'s avatar"
              rounded></app-avatar>
</button>

<ng-template cdkConnectedOverlay
             (backdropClick)="closeNavigationOverlay()"
             [cdkConnectedOverlayHasBackdrop]="true"
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             [cdkConnectedOverlayOrigin]="triggerOrigin"
             [cdkConnectedOverlayOpen]="isNavigationOverlayOpen">
  <mat-nav-list [@transformMenu]="isNavigationOverlayOpen ? 'enter' : 'void'">
    <div class="user-profile">
      <app-avatar class="user-profile__avatar"
                  src="assets/default-user-avatar.svg"
                  alt="{{user | fullName}}'s avatar"></app-avatar>
      <div class="user-profile__info">
        <span>{{user | fullName}}</span>
        <span class="user-profile__email">{{user.email}}</span>
        <a [routerLink]="['/', 'search', user.id]"
           #profileSettings
           appUserMenuItem
           mat-flat-button
           color="accent">Profile settings</a>
      </div>
    </div>
    <a [routerLink]="['/search']" mat-list-item appUserMenuItem>Search</a>
    <a [routerLink]="['/requests']"
       mat-list-item
       appUserMenuItem
       class="relation-requests">
      <span>Relation requests</span>
    </a>
    <a routerLink="." (click)="auth.logout()" mat-list-item
       appUserMenuItem>Logout</a>
  </mat-nav-list>
</ng-template>
