@use '@angular/material' as mat;
@import '../shared/typography';

:not(.mat-snack-bar-container) .mat-button-base {
  --height: 40px;
  height: var(--height);
  border-radius: 20px;

  line-height: var(--height);
  letter-spacing: mat.letter-spacing($pn-typography, button);
}

.mat-stroked-button:not(.mat-button-disabled) {
  &.mat-primary {
    border-color: var(--pn-primary-default);
  }

  &.mat-warn {
    border-color: var(--pn-warn-default);
  }

  &.mat-accent {
    border-color: var(--pn-accent-default);
  }
}
