@use '~@angular/material' as mat;

.mat-snack-bar-container {
  .mat-button-base {
    --height: 36px;
    border-radius: 4px;
  }

  &.primary .mat-button-base {
    color: var(--pn-primary-default);
  }

  &.accent .mat-button-base {
    color: var(--pn-accent-default);
  }

  &.warn .mat-button-base {
    color: var(--pn-warn-default);
  }
}
