@use '~@angular/material' as mat;
@import '../shared/palettes';

.mat-snack-bar-container {
  .mat-button-base {
    --height: 36px;
    border-radius: 4px;
  }

  &.primary .mat-button-base {
    color: mat.get-color-from-palette($pn-primary, default);
  }

  &.accent .mat-button-base {
    color: mat.get-color-from-palette($pn-accent, default);
  }

  &.warn .mat-button-base {
    color: mat.get-color-from-palette($pn-warn, default);
  }
}
