@use '~@angular/material' as mat;
@import '~src/styles/shared/palettes';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: mat.get-color-from-palette($pn-primary, 50, .25);
  box-sizing: border-box;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
