@import '~src/styles/shared/palettes';
@import '~@angular/material/theming';

:host {
  display: block;
}

app-network-graph {
  display: block;
  width: 100%;
  min-height: 700px;
}

app-avatar {
  --size: 40px;
}

.avatar-backdrop {
  fill: mat-color($pn-primary, lighter);
}

.intermediate-overlay {
  fill: #fff;
  opacity: .75;
}

.node.selected .avatar-backdrop {
  fill: mat-color($pn-primary);
}

.node,
.edge {
  cursor: pointer;
}

app-user-card {
  @include mat-elevation(16, mat-color($pn-primary));

  ::ng-deep .user {
    margin-bottom: 26px;
  }
}
