@use '~@angular/material' as mat;

:host {
  display: block;
}

app-network-graph {
  display: block;
  width: 100%;
  min-height: 700px;
}

app-avatar {
  --size: 40px;
}

.avatar-backdrop {
  fill: var(--pn-primary-lighter);
}

.intermediate-overlay {
  fill: #fff;
  opacity: .75;
}

.node.selected .avatar-backdrop {
  fill: var(--pn-primary-default);
}

.node,
.edge {
  cursor: pointer;
}

app-user-card {
  @include mat.elevation(16, var(--pn-foreground-elevation));

  ::ng-deep .user {
    margin-bottom: 26px;
  }
}
