@use '~@angular/material' as mat;
@import '~src/styles/shared/palettes';

:host {
  padding: 7px 16px;
  border-radius: 4px;
  background-color: mat.get-color-from-palette($pn-accent, lighter);
  color: mat.get-color-from-palette($pn-accent, default-lighter);
}
