@import '~src/styles/shared/variables';

$left-side-width: 350px;

:host {
  position: relative;
  display: flex;
}

.left-side {
  position: fixed;
  top: $header-height + $body-padding;
  left: $body-padding;
  bottom: $body-padding;
  width: $left-side-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

app-messages {
  flex-grow: 1;
  padding-bottom: 4px;
  border: 1px solid var(--pn-foreground-divider);
  border-radius: 4px;
  background-color: var(--pn-background-card);

  ::ng-deep .messages {
    padding: 8px 5px;
  }

  ::ng-deep .message-form {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.content {
  width: calc(100% - #{$left-side-width + 50px});
  padding-left: $left-side-width + 50px;
}

