<div class="relation">
  <app-profile-info avatarSrc="assets/default-user-avatar.svg"
                    [name]="fromUser | fullName"
                    [email]="fromUser.email"
                    [hourlyRate]="fromUser.hourlyRate"></app-profile-info>

  <app-hidden-scroll-wrapper orientation="vertical">
    <div class="arrows-wrapper" #arrowsWrapper cdkScrollable>
      <ng-container *ngIf="relations.length else requestCreation">
        <div class="arrow-wrapper" *ngFor="let request of relations; let i = index"
             #arrowWrapper (click)="onRelationSelect(request, arrowWrapper);">
          <div class="arrow"
               [class.arrow--selected]="request.id === _selectedRelationId"
               [class.arrow--right]="!(request.type | isBidirectional) && request.fromUserId === fromUser.id"
               [class.arrow--left]="!(request.type | isBidirectional) && request.fromUserId !== fromUser.id">
            <span class="arrow-label">{{request.type | relationType}}</span>
          </div>
        </div>
      </ng-container>
      <ng-template #requestCreation>
        <div class="arrow-wrapper">
          <div class="arrow arrow--selected" [class.arrow--right]="form.value.type && !(form.value.type | isBidirectional)">
            <span class="arrow-label">{{form.value.type ? (form.value.type | relationType) : 'Choose type'}}</span>
          </div>
        </div>
      </ng-template>
    </div>
  </app-hidden-scroll-wrapper>

  <app-profile-info avatarSrc="assets/default-user-avatar.svg"
                    [name]="toUser | fullName"
                    [email]="toUser.email"
                    [hourlyRate]="toUser.hourlyRate"></app-profile-info>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" @fadeInOut *ngIf="showForm">
  <mat-form-field class="small-field pn-no-subscript">
    <mat-label>Relation type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let entry of RelationType | keyvalue"
                  [value]="entry.value">
        {{entry.value | relationType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="small-field pn-no-subscript"
                  #matFormField
                  [class.mat-form-field-invalid]="matFormField._control.errorState || form.errors?.startDateRequiredIfHasEndDate">
    <mat-label>Dates</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="startAt" placeholder="Start date">
      <input matEndDate formControlName="endAt" placeholder="To present">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="pn-no-subscript">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" class="description-textarea" rows="8"></textarea>
  </mat-form-field>

  <div class="comment-block">
    <mat-form-field class="pn-no-subscript" *ngIf="showComment">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" class="description-textarea" rows="5"></textarea>
    </mat-form-field>

    <div class="actions-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</form>
