<ng-container *ngIf="auth.user$ | async as currentUser">
  <ng-container *ngIf="messages.receiverUser$ | async as receiverUser">
    <app-hidden-scroll-wrapper orientation="vertical">
      <div class="messages" cdkScrollable>
        <div class="message" *ngFor="let message of messages.list$ | async"
             [class.message--reverse]="message.fromUserId === currentUser.id"
             #messageEl>
          <ng-container *ngIf="message.fromUserId === currentUser.id ? currentUser : receiverUser as user">
            <app-avatar [src]="user.avatarSrc"
                        alt="{{user | fullName}}'s avatar"
                        rounded>
            </app-avatar>
          </ng-container>
          <div class="message-text">{{message.text}}</div>
        </div>
      </div>
    </app-hidden-scroll-wrapper>

    <mat-form-field class="message-form pn-no-subscript pn-vertical-align pn-textarea-with-suffix">
      <textarea matInput rows="3"
                #messageTextarea
                [(ngModel)]="text"
                [disabled]="!!(messages.isSending$ | async)"
                (keypress)="onTextareaKeyPress($event)"></textarea>
      <button matSuffix
              mat-icon-button
              color="primary"
              [disabled]="messages.isSending$ | async"
              (click)="onSendMessage()">
        <mat-icon *ngIf="(messages.isSending$ | async) === false; else spinner" svgIcon="send"></mat-icon>
        <ng-template #spinner>
          <mat-spinner color="primary" matSuffix strokeWidth="2" diameter="24"></mat-spinner>
        </ng-template>
      </button>
    </mat-form-field>
  </ng-container>
</ng-container>

