<ng-container *ngIf="auth.user$ | async as currentUser">
  <ng-container *ngIf="messages.receiverUser$ | async as receiverUser">
    <app-hidden-scroll-wrapper orientation="vertical">
      <div class="messages" cdkScrollable>
        <div class="message" *ngFor="let message of messages.list$ | async"
             [class.message--reverse]="message.fromUserId === currentUser.id"
             #message>
          <app-avatar [src]="(message.fromUserId !== currentUser.id ? receiverUser : currentUser).avatarSrc"
                      rounded>
          </app-avatar>
          <div class="message-text">{{message.text}}</div>
        </div>
      </div>
    </app-hidden-scroll-wrapper>

    <mat-form-field class="message-form pn-no-subscript pn-vertical-align pn-textarea-with-suffix">
      <textarea matInput rows="3" [(ngModel)]="text" (keypress)="onTextareaKeyPress($event)"></textarea>
      <button mat-icon-button matSuffix color="primary" (click)="onSendMessage()">
        <mat-icon svgIcon="send"></mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
</ng-container>

