<div class="header">
  <h1>Select filter parameters</h1>
  <button mat-button color="primary" class="reset-button" (click)="onReset()">Reset</button>
</div>

<form class="search-form" [formGroup]="form">
  <mat-form-field class="pn-no-subscript full-row">
    <mat-label>Search</mat-label>
    <input type="text" formControlName="search" matInput>
  </mat-form-field>

  <mat-label>Rate value</mat-label>
  <app-range formControlName="rateRange"></app-range>

  <ng-container *ngIf="(search.selectedUser$ | async) !== null">
    <mat-label>Network size</mat-label>
    <mat-slider formControlName="networkSize"
                [min]="1"
                [max]="3"
                [thumbLabel]="true"
                [tickInterval]="1"></mat-slider>

    <mat-label>Relation types</mat-label>
    <mat-form-field class="pn-no-subscript pn-vertical-align">
      <mat-select formControlName="relationTypes" multiple>
        <mat-option *ngFor="let relationType of relations.userFirstLevelRelationTypes$ | async"
                    [value]="relationType">
          {{relationType | relationType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-label>Experience</mat-label>
  <mat-slider formControlName="experience"
              [min]="ExperienceSliderConfig.min"
              [max]="ExperienceSliderConfig.max"
              [displayWith]="ExperienceSliderConfig.displayWith"
              [thumbLabel]="true"
              [tickInterval]="1"></mat-slider>

  <mat-label>English</mat-label>
  <mat-form-field class="pn-no-subscript pn-vertical-align">
    <mat-select formControlName="english">
      <mat-option [value]="EnglishLevel.A1">A1</mat-option>
      <mat-option [value]="EnglishLevel.A2">A2</mat-option>
      <mat-option [value]="EnglishLevel.B1">B1</mat-option>
      <mat-option [value]="EnglishLevel.B2">B2</mat-option>
      <mat-option [value]="EnglishLevel.C1">C1</mat-option>
      <mat-option [value]="EnglishLevel.C2">C2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label>Work schedule</mat-label>
  <mat-button-toggle-group appResettableButtonToggleGroup formControlName="workSchedule">
    <mat-button-toggle [value]="WorkSchedule.Full">Full</mat-button-toggle>
    <mat-button-toggle [value]="WorkSchedule.Part">Part</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-label>Work</mat-label>
  <mat-button-toggle-group appResettableButtonToggleGroup formControlName="workType">
    <mat-button-toggle [value]="WorkType.Office">Office</mat-button-toggle>
    <mat-button-toggle [value]="WorkType.Remote">Remote</mat-button-toggle>
  </mat-button-toggle-group>
</form>
