@import '~src/styles/shared/theme';

form {
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 52px;

  &::ng-deep &-infix {
    top: -.25em;
  }
}

.divider {
  width: 12px;
  height: 1px;
  margin: 0 6px;
  background-color: map-get($pn-foreground, divider);
}

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// stylelint-enable property-no-vendor-prefix, selector-no-qualifying-type

