@import '~src/styles/shared/theme';

:host {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-auto-rows: 278px;
  gap: 24px;
  min-height: 278px;
}

.hint {
  color: map-get($pn-foreground, secondary-text);
}

.loading-opacity {
  opacity: .3;
}

.mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ::ng-deep circle {
    animation-duration: 5500ms !important;
  }
}
