:host {
  --row-height: 278px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-auto-rows: var(--row-height);
  gap: 24px;
  min-height: var(--row-height);
}

:host(.not-authenticated-user) {
  --row-height: 226px;
}

.loading-opacity {
  opacity: .3;
}

.mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ::ng-deep circle {
    animation-duration: 5500ms !important;
  }
}
