@import '~src/styles/shared/palettes';
@import '~src/styles/shared/variables';

h1 {
  color: mat-color($pn-primary, default-contrast);
  margin-bottom: 0;
  margin-right: auto;
}

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8em;
  width: 100%;
  padding: 0 $body-padding;
  background-color: mat-color($pn-primary, default);
}

.signin-link {
  color: mat-color($pn-primary, default-contrast);
  text-decoration: underline;
}
