<a routerLink="/search"
   mat-mini-fab
   color="accent"
   aria-label="Go to the search"
   data-qa="header-logo">
  <mat-icon svgIcon="relationship" color="primary"></mat-icon>
</a>

<h1 data-qa="header-h1">
  <ng-content></ng-content>
</h1>

<app-user-menu *ngIf="(auth.user$ | async) as user else signInSignUp" [user]="user"></app-user-menu>
<ng-template #signInSignUp>
  <a mat-button routerLink="/auth/signin" class="signin-link" (click)="saveCurrentUrlToRedirectAfterLogin()">Sign in</a>
  <a mat-raised-button color="accent" routerLink="/auth/signup" (click)="saveCurrentUrlToRedirectAfterLogin()">Sign
    up</a>
</ng-template>
