// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import 'styles/shared/typography';
@include mat-core($pn-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@import 'styles/shared/theme';
@include angular-material-theme($pn-theme);

/* You can add global styles to this file, and also import other style files */
@import 'styles/shared/palettes';
@import 'styles/shared/variables';

html,
body {
  height: 100%;
  background-color: $body-background-color;
}

body {
  margin: 0;
  font-family: mat-font-family($pn-typography);
  color: $text-color;
}

.pn-body {
  @import 'styles/material-overrides';
}

input {
  font: inherit;

  &::placeholder {
    color: map-get($pn-foreground, secondary-text);
  }

  // stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
  // stylelint-enable property-no-vendor-prefix, selector-no-qualifying-type
}

.pn-no-subscript.mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

.pn-vertical-align.mat-form-field {
  margin: -4px 0;

  &.mat-form-field-type-mat-input .mat-form-field-infix,
  &.mat-form-field-type-mat-select .mat-form-field-infix {
    top: -.25em;
  }

  &.mat-form-field-type-mat-select .mat-select-arrow-wrapper {
    transform: none;
  }
}

.pn-icon-align.mat-icon,
.pn-icon-align.mat-icon-button .mat-button-wrapper {
  position: relative;
  top: -2px;
}
