// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import 'styles/shared/typography';
@include mat-core($pn-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@import 'styles/shared/theme';
@include angular-material-theme($pn-theme);

/* You can add global styles to this file, and also import other style files */
@import 'styles/shared/palettes';

html,
body {
  height: 100%;
  background-color: #f4f5f7;
}

body {
  margin: 0;
  font-family: mat-font-family($pn-typography);
  color: $text-color;
}

.pn-body {
  @import 'styles/material-overrides';
}
