// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import 'styles/shared/typography';
@include mat.core($pn-typography);

// All material components specific styles and application' custom properties includes in styles/themes

:root {
  color-scheme: light dark;
}

html,
body {
  background-color: var(--pn-body-background-color);
}

body {
  margin: 0;
  font-family: mat.font-family($pn-typography);
  color: var(--pn-text-color);
}

.pn-body {
  @import 'styles/material-overrides';
}

input {
  font: inherit;

  &::placeholder {
    color: var(--pn-light-foreground-secondary-text);
  }

  // stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
  // stylelint-enable property-no-vendor-prefix, selector-no-qualifying-type
}

.pn-no-subscript.mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

.pn-vertical-align.mat-form-field {
  margin: -4px 0;

  &.mat-form-field-type-mat-input .mat-form-field-infix,
  &.mat-form-field-type-mat-select .mat-form-field-infix {
    top: -.25em;
  }

  &.mat-form-field-type-mat-select .mat-select-arrow-wrapper {
    transform: none;
  }
}

.pn-icon-align.mat-icon,
.pn-icon-align.mat-icon-button .mat-button-wrapper {
  position: relative;
  top: -2px;
}

.pn-dialog-overflow-visible .mat-dialog-container {
  overflow: visible;
}

.pn-dialog-no-padding .mat-dialog-container {
  padding: 0;
}

.pn-hint {
  color: var(--pn-foreground-secondary-text);
}
