@import '../../../../styles/shared/palettes';

:host {
  --size: 56px;
}

:host,
.avatar {
  width: var(--size);
  height: var(--size);
}

:host[rounded] {
  .avatar {
    margin: -1px 0 0 -1px;
    border-radius: 50%;
  }

  .avatar-wrapper {
    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    border-radius: 50%;
    background-color: mat-color($pn-primary, lighter);
  }
}

:host:not([rounded]) {
  .avatar[src='assets/default-user-avatar.svg'] {
    width: calc(var(--size) - 20px);
    height: calc(var(--size) - 20px);
  }

  .avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: var(--size);
    width: var(--size);
    border-radius: 4px;
    background-color: mat-color($pn-primary, lighter);
  }
}
