<mat-card class="auth-card">
  <mat-card-title class="auth-card__title">
    <strong>Sign in</strong> to enhance your professional network
  </mat-card-title>

  <mat-card-content class="auth-card__content">
    <form class="auth-card__form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="auth-card__form-field">
        <mat-label id="emailLabel">Email</mat-label>
        <input matInput required formControlName="email" type="email" aria-labelledby="emailLabel">
        <mat-error *ngIf="form.controls.email.errors?.pattern">
          Must be an email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="auth-card__form-field">
        <mat-label id="passwordLabel">Password</mat-label>
        <input matInput required formControlName="password" type="password" aria-labelledby="passwordLabel">
      </mat-form-field>

      <div class="auth-card__form-actions">
        <button type="submit" class="auth-card__form-submit" mat-flat-button color="primary">SIGN IN
        </button>
        <a routerLink="/auth/signup" type="button" mat-stroked-button color="primary">SIGN UP</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
