@use '@angular/material' as mat;
@import '~src/styles/shared/typography';
@import '~src/styles/shared/variables';

:host,
.user-info {
  display: flex;
}

:host {
  align-items: center;
}

$avatar-size: 110px;

.avatar-wrapper {
  position: relative;
  width: $avatar-size;
  height: $avatar-size;
  margin-right: 16px;

  label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--pn-foreground-elevation);
    cursor: pointer;
    opacity: 0;
    transition: opacity $transition-duration;
  }

  label:hover {
    opacity: 1;
  }

  label .mat-icon {
    width: 80px;
    height: 80px;
    color: rgba(var(--pn-primary-default), .65);
  }

  input {
    display: none;
  }
}

app-avatar {
  --size: #{$avatar-size};
}

.user-info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;

  &__rate {
    margin-bottom: 16px;
  }

  &__name {
    @include mat.typography-level($pn-typography, title);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
  }

  &__name input {
    width: 100%;
  }

  &__email {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    color: var(--pn-primary-default);
  }

  &__email-value {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__email input {
    color: inherit;
    width: 100%;
  }

  &__email .mat-icon {
    flex-shrink: 0;
    margin-right: 4px;
  }
}

.cropper-save-button {
  margin-top: 12px;
  width: 100%;
}
