@import '~@angular/material/theming';
@import 'palettes';

$pn-foreground: (
  base:              black,
  divider:           mat-color($pn-primary, 50),
  dividers:          mat-color($pn-primary, 50),
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         mat-color($pn-primary, default, .2),
  hint-text:         $dark-disabled-text,
  secondary-text:    mat-color($pn-primary, 50),
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$pn-background: (
  status-bar: map-get($mat-grey, 300),
  app-bar:    map-get($mat-grey, 100),
  background: map-get($mat-grey, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get($mat-grey, 300),
  selected-disabled-button: map-get($mat-grey, 400),
  disabled-button-toggle: map-get($mat-grey, 200),
  unselected-chip: map-get($mat-grey, 300),
  disabled-list-option: map-get($mat-grey, 200),
  tooltip: map-get($mat-grey, 700),
);

$pn-theme: map-merge(
  mat-light-theme(
    $primary: $pn-primary,
    $accent: $pn-accent,
    $warn: $pn-warn
  ),
  (
    foreground: $pn-foreground,
    background: $pn-background
  )
);
