@use '~@angular/material' as mat;
@import '~src/styles/shared/typography';
@import '~src/styles/shared/variables';
@import '~src/styles/shared/theme';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &-text {
    @include mat.typography-level($pn-typography, display-1);
  }
}

.mat-tab-group::ng-deep {
  .mat-tab-body {
    padding: 20px 0 $body-padding;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

app-hidden-scroll-wrapper {
  overflow-y: auto;
  flex-grow: 1;
}

app-search-result-list {
  height: 100%;
  margin-bottom: 4px;
}

app-search-result-graph {
  border: 1px solid map-get($pn-foreground, divider);
  border-radius: 4px;
}
